.chord {
  animation-name: slide;
  animation-duration: 5s;
  animation-timing-function: linear;
}

@keyframes slide {
  0% {
    opacity: 0%;
    transform: translateX(calc(0vw - 300px));
    }
  30% {
    opacity: 100%;
  }
  60% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
    transform: translateX(100vw);
  }
}